<form class="modal-chord">
  <p class="well"
     ng-show="controls.error === 'short'">
    <i class="fa fa-2x fa-info-circle"></i>
    <span i18n="'modalChordPrompt'"></span>
  </p>

  <p class="well text-danger"
     ng-show="controls.error === 'conflict'">
    <i class="fa fa-2x fa-warning"></i>
    <span i18n="'modalChordConflict'"></span>
  </p>

  <p class="well text-success"
     ng-show="!controls.error">
    <i class="fa fa-2x fa-check-circle"></i>
    <span i18n="'modalChordAcceptable'"></span>
  </p>

  <p class="chord-preview">
    <span ng-show="controls.chord.length">{{ getChordPreview(controls.chord) }}</span>
    <span ng-hide="controls.chord.length" i18n="'modalChordWaiting'"></span>
  </p>

  <div class="form-group actions">
    <button class="btn btn-default"
            ng-click="$dismiss()"
            i18n="'buttonCancel'"></button>
    <button class="btn btn-primary"
            ng-disabled="controls.error"
            ng-click="$close(controls.chord)"
            i18n="'buttonOK'"></button>
  </div>
</form>
