$nav-tabs-border-color: #ccc;
$nav-tabs-active-link-hover-border-color: #ccc;
$panel-heading-padding: 1px 15px 0px 15px;
$default-padding: 15px;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: transparent;
  padding: 25px;
}

.tab-content {
  background: #fff;
  padding: 40px 20px;
  border-left: 1px solid $nav-tabs-border-color;
  border-right: 1px solid $nav-tabs-border-color;
  border-bottom: 1px solid $nav-tabs-border-color;
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
}

.panel-heading > div:not(.checkbox) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel:last-child {
  margin-bottom: 0px;
}

.well {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 10px;
  }
}

.more-or-fewer {
  cursor: pointer;
}

.self-xss-warning {
  margin-bottom: 0px;

  .simple-explain {
    font-size: 16px;
    font-weight: bold;
  }

  .btn-danger {
    margin-top: 10px;
  }
}

// ----- Modals common -----

.modal-content {
  padding: (2 * $padding-base-horizontal) (4 * $padding-base-vertical);
  padding-bottom: $padding-base-vertical;

  .actions {
    padding-top: 20px;
    text-align: right;

    button {
      margin-left: 4px;
      min-width: 100px;
    }
  }
}

// ----- Gesture input -----

.command-label {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 24px;
  line-height: 12px;
  text-align: center;

  i {
    margin-left: 5px;
  }
}

input.mapped-gesture {
  width: 150px;
  text-align: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

canvas.gesture-input {
  background-color: #fff;
  border: 1px solid $nav-tabs-border-color;
  border-top: none;
  border-radius: $border-radius-base;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: auto 0;
}

// ----- Built-in mappings list -----

.mapping-list {
  display: flex;
  flex-flow: row wrap;

  .mapping-group {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .heading {
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
    }

    .members {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
  }

  .mapping-item {
    flex: 0 0 auto;
    max-width: 150px;
    margin: 2.5px;
    text-align: center;
  }

  .user-script-item {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }
}

// ----- User script items -----

.user-script-mapping {
  flex: 0 1 auto;
  max-width: 150px;
  text-align: center;
}

.user-script-settings {
  flex: 1 1 auto;
  margin-left: 5px;

  .ace-editor {
    margin-top: 5px;
    min-height: 300px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

// ----- Other gestures -----

.modal-chord {
  .chord-preview {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
  }
}

// ----- Backup tab -----

.btn-file input {
  display: none;
}
