<div class="row">
  <div class="col-md-12">

    <!-- XSS warning well -->
    <div class="alert alert-danger self-xss-warning" ng-if="!settings.sawXSSWarning">
      <h3>
        <i class="fa fa-warning"></i>
        <span i18n="'warning'"></span>
      </h3>
      <p class="simple-explain" i18n="optionsXSSWarning1"></p>
      <p class="detail-explain" i18n="optionsXSSWarning2"></p>
      <p class="more-information">
        <span i18n="'optionsXSSWarningInfo'"></span>
        <ul>
          <li>
            <a href="https://en.wikipedia.org/wiki/Cross-site_scripting" target="_blank"
               i18n="'optionsXSSWarningLink1'"></a>
          </li>
          <li>
            <a href="https://en.wikipedia.org/wiki/Self-XSS" target="_blank"
               i18n="'optionsXSSWarningLink2'"></a>
          </li>
        </ul>
      </p>
      <div class="clearfix">
        <button class="btn btn-danger pull-right" type="button"
                ng-click="settings.sawXSSWarning = true"
                i18n="buttonXSSWarningAccept"></button>
      </div>
    </div>

    <div class="well" ng-if="settings.sawXSSWarning">
      <i class="fa fa-2x fa-info-circle"></i>
      <span>
        <span i18n="'optionsUserScriptsWellHelp1'"></span>
        <a href="https://github.com/marklieberman/foxygestures/wiki/User-Scripts" target="_blank">
          <span i18n="'optionsUserScriptsWellHelp2'"></span>
        </a>
      </span>
    </div>

    <div class="mapping-list" ng-if="settings.sawXSSWarning">
      <div class="user-script-item"
           ng-repeat="userScript in settings.userScripts track by userScript.id">

        <div class="user-script-mapping">
          <label class="control-label" i18n="'labelGesture'"></label>

          <input class="form-control mapped-gesture"
                 ng-value="getMappingForUserScript(userScript).gesture"
                 disabled="disabled"></input>

          <canvas class="gesture-input" mg-gesture-input="" width="148" height="100"
                  settings="settings"
                  gesture="getMappingForUserScript(userScript).gesture"
                  on-gesture="assignGestureToUserScript(gesture, userScript)"></canvas>
        </div>

        <div class="user-script-settings">
          <div class="form-group">
            <label class="control-label" i18n="'labelUserScript'"></label>
            <div class="input-group">
              <input class="form-control" type="text"
                     ng-model="userScript.label"
                     ng-model-options="{
                       updateOn: 'default blur',
                       debounce: { 'default': 1000, 'blur': 0 }
                     }"
                     placeholder="Name of the user script"></input>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        uib-tooltip="{{i18n('tooltipRemoveUserScript')}}" tooltip-placement="left"
                        ng-click="removeUserScript(userScript)">
                  <i class="fa fa-trash"></i>
                </button>
              </span>
            </div>

            <div class="ace-editor"
                 ui-ace="aceOpts"
                 ng-model="userScript.script"
                 ng-model-options="{
                   updateOn: 'default blur',
                   debounce: { 'default': 1000, 'blur': 0 }
                 }"></div>
          </div>

        </div>

      </div><!-- .user-script-item -->
    </div><!-- .user-script-list -->

    <div class="clearfix" ng-if="settings.sawXSSWarning">
      <button class="btn btn-default pull-right" type="button"
              ng-click="addUserScript()"
              i18n="'buttonAddUserScript'"></button>
    </div>

  </div>
</div>
