body {
  background-color: transparent;
  padding: 0 10px;
}

.section-help-block {
  width: 100%;
  text-align: center;
}

.mapping-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tile .mapping-item {
  flex: 0 0 auto;
  max-width: 150px;
  margin: 4px;
  text-align: center;
}

canvas.gesture-input {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto 0;
}

.command-label {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 24px;
  line-height: 12px;
}

.command-label i {
  margin-left: 4px;
}

.mapped-gesture {
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
}

.user-script-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.user-script-item {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.user-script-mapping {
  flex: 0 1 auto;
  max-width: 150px;
  text-align: center;
}

.user-script-settings {
  flex: 1 1 auto;
  margin-left: 10px;
}

.user-script-settings textarea {
  margin-top: 4px;
  min-height: 200px;
  font-family: monospace;  
}
