<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="checkbox clearfix">
          <label>
            <input type="checkbox"
                   ng-model="settings.wheelGestures"></input>
            Enable wheel gestures.
          </label>
          <div class="pull-right">
            <i class="fa fa-info-circle"></i>
            Hold the gesture button and scroll the mouse wheel to perform a wheel gesture.
          </div>
        </div>
      </div>
      <fieldset class="panel-body"
                ng-disabled="!settings.wheelGestures">
        <div class="form-group">
          <label class="control-label">Scroll Up</label>
          <select class="form-control"
                  ng-options="item as item.label for item in mappables track by item.id"
                  ng-model="controls.wheelMappings.up"
                  ng-change="settings.wheelMappings.up = controls.wheelMappings.up.mapping"></select>
        </div>
        <div class="form-group">
          <label class="control-label">Scroll Down</label>
          <select class="form-control"
                  ng-options="item as item.label for item in mappables track by item.id"
                  ng-model="controls.wheelMappings.down"
                  ng-change="settings.wheelMappings.down = controls.wheelMappings.down.mapping"></select>
        </div>
        <div class="form-group">
          <label class="control-label">Scroll Left</label>
          <select class="form-control"
                  ng-options="item as item.label for item in mappables track by item.id"
                  ng-model="controls.wheelMappings.left"
                  ng-change="settings.wheelMappings.left = controls.wheelMappings.left.mapping"></select>
        </div>
        <div class="form-group">
          <label class="control-label">Scroll Right</label>
          <select class="form-control"
                  ng-options="item as item.label for item in mappables track by item.id"
                  ng-model="controls.wheelMappings.right"
                  ng-change="settings.wheelMappings.right = controls.wheelMappings.right.mapping"></select>
        </div>
      </fieldset>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="checkbox clearfix">
          <label>
            <input type="checkbox"
                   ng-model="settings.chordGestures"></input>
            Enable chord gestures.
          </label>
          <div class="pull-right">
            <i class="fa fa-info-circle"></i>
            Press two or more buttons simultaneously to perform a chord gesture.
          </div>
        </div>
      </div>
      <fieldset class="panel-body"
                ng-disabled="!settings.chordGestures">
        <div class="form-group"
             ng-repeat="chordMapping in settings.chordMappings | index | orderBy:'chord'">
          <label class="control-label">{{getChordPreview(chordMapping.chord)}}</label>
          <div class="input-group">
            <select class="form-control"
                    ng-options="item as item.label for item in mappables track by item.id"
                    ng-model="controls.chordMappings[chordMapping.index]"
                    ng-change="chordMapping.mapping = controls.chordMappings[chordMapping.index].mapping"></select>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"
                      uib-tooltip="Remove Chord" tooltip-placement="left"
                      ng-click="removeChordMapping(chordMapping)">
                <i class="fa fa-trash"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group clearfix">
          <button class="btn btn-default pull-right" type="button"
                  ng-click="addChordMapping()">
            Add Chord
          </button>
        </div>
      </fieldset>
    </div>

  </div>
</div>
